flows.json
[
    {
        "id": "1ae16134.2ffe3f",
        "type": "tab",
        "label": "CIU888 - Lee/Publica - 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d5883d38.eb44d",
        "type": "tab",
        "label": "CIU888 - Tablero from MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b70c95d6.e86af8",
        "type": "subflow",
        "name": "Autenticación TT",
        "info": "# Configuración\n\n---\n\n\n - _urlBaseTT_, por ejemplo: http://172.17.0.1:8080/tt\n - _msg.urlBaseTT_, para que se utilice esta opción debe dejar en blanco la UI\n\n - usernameTT\n - passwordTT\n\nSi se consigue el token, se retorna en payload, de lo contrario se retorna false. Si hay error se retorna en _msg.error_",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "79d365b2.27141c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 120,
                "wires": [
                    {
                        "id": "2637145a.041f1c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 980,
                "y": 300,
                "wires": [
                    {
                        "id": "8de233b.ea133d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "urlBaseTT",
                "type": "str",
                "value": ""
            },
            {
                "name": "usernameTT",
                "type": "str",
                "value": "integracion"
            },
            {
                "name": "passwordTT",
                "type": "str",
                "value": "passworddeintegracion$1"
            }
        ],
        "color": "#D8BFD8",
        "outputLabels": [
            "Token",
            "No Token"
        ],
        "status": {
            "x": 1200,
            "y": 200,
            "wires": [
                {
                    "id": "476be406.efb0ac",
                    "port": 0
                },
                {
                    "id": "6a34bac4.782c14",
                    "port": 0
                },
                {
                    "id": "b61afd36.d54f8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "cd27c58f.6d91d8",
        "type": "subflow",
        "name": "Status TT",
        "info": "## Configuración\n\n - **urlBaseTT**, por ejemplo: http://172.17.0.1:8080/tt\n - **msg.urlBaseTT**, para que se utilice esta opción debe dejar en blanco la UI\n\n## Salidas \n\n * 1) TruckFlow está en línea y el token es válido\n * 2) TruckFlow está en línea pero hay problemas con el token de autenticación, pueden ocurrir dos situaciones:\n * - El token no es válido\n * - El token es válido pero no está autorizado\n * 3) TrcukFlow está desconectado\n\nEn todos los casos se retorna: ```msg.payload``` con la descripción del estado y ```msg.urlBaseTT``` con la misma url que se recibió como parámetro\n\nSiempre se establece en el contexto flow del Flow padre, el atributo **lastStatusTT** de la siguiente forma: ```code``` 1=OK, 2=No logueado, 3=No autorizado y 4=Desconectado, ```descripcion``` corresponiente a los textos anteriores y ```tiempo``` con el momento de la muestra.\n \n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 140,
                "wires": [
                    {
                        "id": "81fe00bc.1e54e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1265,
                "y": 190,
                "wires": [
                    {
                        "id": "733e040a.ecddbc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1265,
                "y": 250,
                "wires": [
                    {
                        "id": "733e040a.ecddbc",
                        "port": 1
                    },
                    {
                        "id": "733e040a.ecddbc",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1265,
                "y": 310,
                "wires": [
                    {
                        "id": "733e040a.ecddbc",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "urlBaseTT",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#AAAA66",
        "outputLabels": [
            "OK",
            "Renovar Token",
            "Desconectado"
        ],
        "status": {
            "x": 1225,
            "y": 130,
            "wires": [
                {
                    "id": "733e040a.ecddbc",
                    "port": 3
                },
                {
                    "id": "733e040a.ecddbc",
                    "port": 2
                },
                {
                    "id": "733e040a.ecddbc",
                    "port": 1
                },
                {
                    "id": "733e040a.ecddbc",
                    "port": 0
                },
                {
                    "id": "9aa32e01.7aa93",
                    "port": 0
                },
                {
                    "id": "fc89282a.2c6468",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "9a6ff9b7.9c6fb8",
        "type": "subflow",
        "name": "PutCIUDataTT",
        "info": "Se debe enviar: \n\nmag.payload (body)\nmsg.tokenTT \nmsg.idPlc",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "e8bca60.a0a2558"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 930,
                "y": 30,
                "wires": [
                    {
                        "id": "777b9c87.67cd94",
                        "port": 0
                    }
                ]
            },
            {
                "x": 920,
                "y": 130,
                "wires": [
                    {
                        "id": "777b9c87.67cd94",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "idCompania",
                "type": "str",
                "value": "1"
            },
            {
                "name": "categoria",
                "type": "str",
                "value": "fafnir"
            },
            {
                "name": "almacenarCadaXSegs",
                "type": "str",
                "value": "60"
            }
        ],
        "color": "#D8BFD8",
        "outputLabels": [
            "OK",
            "Error"
        ],
        "status": {
            "x": 680,
            "y": 240,
            "wires": [
                {
                    "id": "faa12506.a7fd48",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "35b40fae.3fa48",
        "type": "subflow",
        "name": "UltimosEstadosTanquesTT",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "24b5e71f.55a928"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1320,
                "y": 80,
                "wires": [
                    {
                        "id": "c1519f1d.23df3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1100,
                "y": 180,
                "wires": [
                    {
                        "id": "44975b9a.989454",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1030,
                "y": 260,
                "wires": [
                    {
                        "id": "44975b9a.989454",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "idCompania",
                "type": "str",
                "value": "1"
            },
            {
                "name": "urlBaseTTBrowserCompat",
                "type": "str",
                "value": ""
            },
            {
                "name": "categoria",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#D8BFD8",
        "outputLabels": [
            "OK JSON Object",
            "OK JSON String",
            "Error"
        ],
        "status": {
            "x": 1000,
            "y": 20,
            "wires": [
                {
                    "id": "69abfd47.334cc4",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "c748b389.5ca8",
        "type": "group",
        "z": "1ae16134.2ffe3f",
        "name": "Autenticación y Configuración",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "label-position": "s",
            "color": "#000000"
        },
        "nodes": [
            "5986bea6.f91ae",
            "adaafac.a6da808",
            "403198df.6ac198",
            "7b818a9b.290154",
            "3b6e3678.65c61a",
            "c7fff10f.9583c",
            "ae635ca6.3767e",
            "d43e457b.717a18",
            "20ce64b6.05b27c",
            "8d2a24f4.27d468",
            "76e2484c.05ffa8",
            "75448b.fe902b74",
            "7b3f2681.a312d8"
        ],
        "x": 34,
        "y": 19,
        "w": 1462,
        "h": 237.5
    },
    {
        "id": "7575f7f7.3026d8",
        "type": "group",
        "z": "1ae16134.2ffe3f",
        "name": "Pide Ultimos estados, procesa y publica en MQTT",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "label-position": "s",
            "color": "#000000"
        },
        "nodes": [
            "143fe700.e1b9c9",
            "6976a4b7.3e4e8c",
            "1319b071.8f9e3",
            "cc594bfc.910258",
            "ff525a2f.608f28",
            "cd25a503.4992e8",
            "726b285.1c265d8",
            "afb95977.5ce9d8"
        ],
        "x": 14,
        "y": 639,
        "w": 1272,
        "h": 170
    },
    {
        "id": "91f1378d.46f8c8",
        "type": "group",
        "z": "1ae16134.2ffe3f",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "3801840d.4716fc",
            "69ead5f1.65b89c",
            "a0a2fbe1.baf158",
            "f40aee1b.4f1d4"
        ],
        "x": 8,
        "y": 273,
        "w": 1366.5,
        "h": 348
    },
    {
        "id": "3801840d.4716fc",
        "type": "group",
        "z": "1ae16134.2ffe3f",
        "g": "91f1378d.46f8c8",
        "name": "Adquisición",
        "style": {
            "fill": "#c8e7a7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7d6678d5.5fdf58",
            "87dc256a.267de8",
            "d4abc7b9.afa878",
            "d544bfc4.5df96",
            "83276511.7e2308",
            "f0c64784.cf45e8",
            "38267ff2.c4f68",
            "631dfd34.0b0504",
            "e887af7f.3b1d6",
            "cda848c0.cb1458"
        ],
        "x": 34,
        "y": 299,
        "w": 362,
        "h": 282
    },
    {
        "id": "69ead5f1.65b89c",
        "type": "group",
        "z": "1ae16134.2ffe3f",
        "g": "91f1378d.46f8c8",
        "name": "Procesamiento de Datos",
        "style": {
            "fill": "#c8e7a7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c61fbdc8.6c643",
            "4d50a4c4.10e60c",
            "2fbbdff6.7704d"
        ],
        "x": 434,
        "y": 319,
        "w": 362,
        "h": 82
    },
    {
        "id": "a0a2fbe1.baf158",
        "type": "group",
        "z": "1ae16134.2ffe3f",
        "g": "91f1378d.46f8c8",
        "name": "Envía Datos Backend",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f45e3aba.7c6728",
            "c1ab009b.0e357",
            "8cb2135c.046c6",
            "d685f89e.758118",
            "818705f6.133798"
        ],
        "x": 434,
        "y": 439,
        "w": 914.5,
        "h": 84
    },
    {
        "id": "eadd0d0e.01e44",
        "type": "modbus-client",
        "name": "CIU888",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "10.242.9.25",
        "tcpPort": "502",
        "tcpType": "TPC-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "10",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "4f9c8f6b.534f3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "70970556.d63e3c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "fueltrace.oneclickeb.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ebcd37d1.e8b1b8",
        "type": "ui_group",
        "name": "Read (0 Based)",
        "tab": "bc69e6ff.6310a8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a33316e0.a81ea8",
        "type": "modbus-client",
        "name": "MODSCAN",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "908629b1.5fd378",
        "type": "ui_group",
        "name": "Output",
        "tab": "bc69e6ff.6310a8",
        "order": 5,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "2566cc2e.826e34",
        "type": "ui_group",
        "d": true,
        "name": "Write (0 Based)",
        "tab": "bc69e6ff.6310a8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65a439a1.236948",
        "type": "ui_group",
        "d": true,
        "name": "TCP",
        "tab": "bc69e6ff.6310a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a64203cd.5b6a7",
        "type": "ui_group",
        "name": "Serial",
        "tab": "bc69e6ff.6310a8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "bc69e6ff.6310a8",
        "type": "ui_tab",
        "name": "Modscan (C.Iskender 26.12.2018)",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "ee6f5a66.330838",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3c9e94c8.8ca6dc",
        "type": "modbus-client",
        "name": "CIU888",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "10.242.9.25",
        "tcpPort": "502",
        "tcpType": "TPC-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "10",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "2554d9c.6c202a6",
        "type": "ui_group",
        "d": true,
        "name": "Barra1",
        "tab": "a16d25b8.8664a",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "91a045be.96519",
        "type": "ui_group",
        "name": "Tanque8",
        "tab": "a16d25b8.8664a",
        "order": 10,
        "disp": false,
        "width": "6"
    },
    {
        "id": "43b385cd.b42e74",
        "type": "ui_group",
        "name": "Tanque1",
        "tab": "a16d25b8.8664a",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "94492b06.695d",
        "type": "ui_group",
        "name": "Tanque2",
        "tab": "a16d25b8.8664a",
        "order": 4,
        "disp": false,
        "width": "6"
    },
    {
        "id": "1a779b08.3aec8d",
        "type": "ui_group",
        "name": "Tanque3",
        "tab": "a16d25b8.8664a",
        "order": 5,
        "disp": false,
        "width": "6"
    },
    {
        "id": "1754dad.c056325",
        "type": "ui_group",
        "name": "Tanque4",
        "tab": "a16d25b8.8664a",
        "order": 6,
        "disp": false,
        "width": "6"
    },
    {
        "id": "63366cc7.c01424",
        "type": "ui_group",
        "name": "Tanque5",
        "tab": "a16d25b8.8664a",
        "order": 7,
        "disp": false,
        "width": "6"
    },
    {
        "id": "1792a10e.2cc0bf",
        "type": "ui_group",
        "name": "Tanque6",
        "tab": "a16d25b8.8664a",
        "order": 8,
        "disp": false,
        "width": "6"
    },
    {
        "id": "93ebc419.d9ad1",
        "type": "ui_group",
        "name": "Tanque7",
        "tab": "a16d25b8.8664a",
        "order": 9,
        "disp": false,
        "width": "6"
    },
    {
        "id": "11983d23.20fd73",
        "type": "ui_group",
        "d": true,
        "name": "Barra2",
        "tab": "a16d25b8.8664a",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "9095ae3e.94a51",
        "type": "mqtt-broker",
        "name": "",
        "broker": "fueltrace.oneclickeb.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cf9f269.4486058",
        "type": "ui_group",
        "name": "Tanque9",
        "tab": "a16d25b8.8664a",
        "order": 11,
        "disp": false,
        "width": "6"
    },
    {
        "id": "a19dc388.e76f68",
        "type": "ui_group",
        "name": "Tanque11",
        "tab": "a16d25b8.8664a",
        "order": 13,
        "disp": false,
        "width": "6"
    },
    {
        "id": "a85a2484.9d88b",
        "type": "ui_group",
        "name": "Tanque10",
        "tab": "a16d25b8.8664a",
        "order": 12,
        "disp": false,
        "width": "6"
    },
    {
        "id": "41ef8a5f.ab0c44",
        "type": "ui_group",
        "name": "Tanque13",
        "tab": "a16d25b8.8664a",
        "order": 15,
        "disp": false,
        "width": "6"
    },
    {
        "id": "d796d7d7.aef4d8",
        "type": "ui_group",
        "name": "Tanque12",
        "tab": "a16d25b8.8664a",
        "order": 14,
        "disp": false,
        "width": "6"
    },
    {
        "id": "a52dc82a.e870f8",
        "type": "ui_group",
        "name": "Tanque14",
        "tab": "a16d25b8.8664a",
        "order": 16,
        "disp": false,
        "width": "6"
    },
    {
        "id": "7406201f.6fe67",
        "type": "ui_group",
        "name": "Tanque15",
        "tab": "a16d25b8.8664a",
        "order": 17,
        "disp": false,
        "width": "6"
    },
    {
        "id": "bf8b9391.2d3a2",
        "type": "ui_group",
        "name": "Tanque16",
        "tab": "a16d25b8.8664a",
        "order": 18,
        "disp": false,
        "width": "6"
    },
    {
        "id": "3ab4818e.a5ff76",
        "type": "ui_group",
        "name": "Tanque18",
        "tab": "a16d25b8.8664a",
        "order": 20,
        "disp": false,
        "width": "6"
    },
    {
        "id": "464c8e8e.43292",
        "type": "ui_group",
        "name": "Tanque17",
        "tab": "a16d25b8.8664a",
        "order": 19,
        "disp": false,
        "width": "6"
    },
    {
        "id": "cd537e83.b88f8",
        "type": "ui_group",
        "name": "Tanque19",
        "tab": "a16d25b8.8664a",
        "order": 21,
        "disp": false,
        "width": "6"
    },
    {
        "id": "cbc678a5.9613d",
        "type": "ui_group",
        "name": "Tanque20",
        "tab": "a16d25b8.8664a",
        "order": 22,
        "disp": false,
        "width": "6"
    },
    {
        "id": "3f258f5d.54b13",
        "type": "ui_group",
        "name": "Tanque21",
        "tab": "a16d25b8.8664a",
        "order": 23,
        "disp": false,
        "width": "6"
    },
    {
        "id": "9ee299b7.459618",
        "type": "ui_group",
        "name": "Tanque23",
        "tab": "a16d25b8.8664a",
        "order": 25,
        "disp": false,
        "width": "6"
    },
    {
        "id": "2f21b3d6.183f04",
        "type": "ui_group",
        "name": "Tanque22",
        "tab": "a16d25b8.8664a",
        "order": 24,
        "disp": false,
        "width": "6"
    },
    {
        "id": "71c0a253.44a8cc",
        "type": "ui_group",
        "name": "Tanque24",
        "tab": "a16d25b8.8664a",
        "order": 26,
        "disp": false,
        "width": "6"
    },
    {
        "id": "3028e0ea.8d3568",
        "type": "ui_group",
        "name": "Tanque25",
        "tab": "a16d25b8.8664a",
        "order": 27,
        "disp": false,
        "width": "6"
    },
    {
        "id": "f2ecdaf9.31705",
        "type": "ui_group",
        "name": "Taqnue26",
        "tab": "a16d25b8.8664a",
        "order": 28,
        "disp": false,
        "width": "6"
    },
    {
        "id": "4adf345c.8374fc",
        "type": "ui_group",
        "name": "Tanque28",
        "tab": "a16d25b8.8664a",
        "order": 30,
        "disp": false,
        "width": "6"
    },
    {
        "id": "dba5a500.24baa8",
        "type": "ui_group",
        "name": "Tanque27",
        "tab": "a16d25b8.8664a",
        "order": 29,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c2a869f1.db673",
        "type": "ui_group",
        "name": "Taqnue29",
        "tab": "a16d25b8.8664a",
        "order": 31,
        "disp": false,
        "width": "6"
    },
    {
        "id": "6a5e9f40.a2c8d",
        "type": "ui_group",
        "name": "Tanque30",
        "tab": "a16d25b8.8664a",
        "order": 32,
        "disp": false,
        "width": "6"
    },
    {
        "id": "85c8d030.5509c",
        "type": "ui_group",
        "name": "",
        "tab": "a018f11.d79621",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "a16d25b8.8664a",
        "type": "ui_tab",
        "name": "Fueltrace",
        "icon": "fa-industry",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a018f11.d79621",
        "type": "ui_tab",
        "name": "Lista",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ffc24d6.58bcbc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b9229560.b8e3d8",
        "type": "modbus-client",
        "name": "new CIU888",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": true,
        "tcpHost": "10.242.9.29",
        "tcpPort": "502",
        "tcpType": "TPC-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "84ba41d.dc2bac",
        "type": "switch",
        "z": "b70c95d6.e86af8",
        "name": "Pidiendo Token?",
        "property": "pidiendoTokenTT",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "si",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 557,
        "y": 76,
        "wires": [
            [
                "997ca0de.b72ed"
            ],
            [],
            [
                "997ca0de.b72ed"
            ]
        ],
        "outputLabels": [
            "no",
            "si",
            ""
        ]
    },
    {
        "id": "997ca0de.b72ed",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "pidiendoTokenTT=si",
        "rules": [
            {
                "t": "set",
                "p": "pidiendoTokenTT",
                "pt": "flow",
                "to": "si",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 763,
        "y": 69,
        "wires": [
            [
                "41bc69a1.d48f48",
                "b61afd36.d54f8"
            ]
        ]
    },
    {
        "id": "41bc69a1.d48f48",
        "type": "function",
        "z": "b70c95d6.e86af8",
        "name": "Prepare Request",
        "func": "msg.url=flow.get('urlBaseTT')+\"external/dologin?username=\"+flow.get('usernameTT')+\"&password=\"+flow.get('passwordTT');\n//node.warn(msg.url)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 970,
        "y": 40,
        "wires": [
            [
                "198a9b83.7af274"
            ]
        ]
    },
    {
        "id": "198a9b83.7af274",
        "type": "http request",
        "z": "b70c95d6.e86af8",
        "name": "getToken",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "8773d9bf.029b28"
            ]
        ]
    },
    {
        "id": "8773d9bf.029b28",
        "type": "switch",
        "z": "b70c95d6.e86af8",
        "name": "Recibido?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "7fa680bb.fc192"
            ],
            [
                "ea0191d8.feee5"
            ]
        ],
        "outputLabels": [
            "ok",
            "nook"
        ]
    },
    {
        "id": "1bc0570b.56f479",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "SET authToken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.authtoken",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "2637145a.041f1c"
            ]
        ]
    },
    {
        "id": "11626d1c.91f973",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "UNSET authToken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "8de233b.ea133d"
            ]
        ]
    },
    {
        "id": "2637145a.041f1c",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "pidiendoTokenTT=no",
        "rules": [
            {
                "t": "set",
                "p": "pidiendoTokenTT",
                "pt": "flow",
                "to": "no",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 180,
        "wires": [
            [
                "476be406.efb0ac"
            ]
        ]
    },
    {
        "id": "79d365b2.27141c",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "Parse Inputs",
        "rules": [
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "flow",
                "to": "urlBaseTT",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "usernameTT",
                "pt": "flow",
                "to": "usernameTT",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "passwordTT",
                "pt": "flow",
                "to": "passwordTT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "4cae6b5d.96a334"
            ]
        ]
    },
    {
        "id": "7fa680bb.fc192",
        "type": "json",
        "z": "b70c95d6.e86af8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1bc0570b.56f479"
            ]
        ]
    },
    {
        "id": "ea0191d8.feee5",
        "type": "function",
        "z": "b70c95d6.e86af8",
        "name": "Auth Error",
        "func": "node.warn(\"Error Autenticando: \"+msg.payload+\", \"+flow.get(\"usernameTT\")+\"@\"+flow.get(\"urlBaseTT\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "11626d1c.91f973"
            ]
        ]
    },
    {
        "id": "8de233b.ea133d",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "pidiendoTokenTT=no",
        "rules": [
            {
                "t": "set",
                "p": "pidiendoTokenTT",
                "pt": "flow",
                "to": "no",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 220,
        "wires": [
            [
                "6a34bac4.782c14"
            ]
        ]
    },
    {
        "id": "4cae6b5d.96a334",
        "type": "function",
        "z": "b70c95d6.e86af8",
        "name": "Check URL",
        "func": "var url=flow.get('urlBaseTT');\n\nif(!url && !msg.urlBaseTT) {\n    return [null,{error:\"No se ha definido urlBaseTT en la UI ni se han enviado msg.urlBaseTT\"}];\n}\nif(url && url.length>5 && (url.startsWith(\"http\") || url.startsWith(\"https\"))) {\n    if(!url.endsWith(\"/\")) {\n        url+=\"/\";\n    }\n    flow.set('urlBaseTT',url);\n    //node.warn(\"1\"+url)\n    return [msg,null];\n}\nurl=msg.urlBaseTT;\n\nif(url && url.length>5 && (url.startsWith(\"http\") || url.startsWith(\"https\"))) {\n    if(!url.endsWith(\"/\")) {\n        url+=\"/\";\n    }\n    flow.set('urlBaseTT',url);\n    //node.warn(\"2\"+url)\n    return [msg,null];\n}\n\nreturn [null,{error:\"Error en definición de urlBaseTT en la UI o en msg.urlBaseTT\"}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "84ba41d.dc2bac"
            ],
            [
                "11626d1c.91f973"
            ]
        ],
        "outputLabels": [
            "OK",
            "Error URL"
        ]
    },
    {
        "id": "476be406.efb0ac",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6a34bac4.782c14",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "ERROR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ERROR",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b61afd36.d54f8",
        "type": "change",
        "z": "b70c95d6.e86af8",
        "name": "Pidiendo...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Pidiendo...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1132,
        "y": 113,
        "wires": [
            []
        ]
    },
    {
        "id": "81fe00bc.1e54e",
        "type": "change",
        "z": "cd27c58f.6d91d8",
        "name": "Parse Inputs",
        "rules": [
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "flow",
                "to": "urlBaseTT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "ee29edb3.abede"
            ]
        ]
    },
    {
        "id": "ee29edb3.abede",
        "type": "function",
        "z": "cd27c58f.6d91d8",
        "name": "Check URL & Token",
        "func": "var authtoken=msg.authtoken;\nif(!authtoken)\n    authtoken=\"nada\";\nflow.set('authtoken',authtoken);\n\nvar url=flow.get('urlBaseTT');\nif(!url && !msg.urlBaseTT) {\n    return [null,{error:\"No se ha definido urlBaseTT en la UI ni se han enviado msg.urlBaseTT\"}];\n}\nif(url && url.length>5 && (url.startsWith(\"http\") || url.startsWith(\"https\"))) {\n    if(!url.endsWith(\"/\")) {\n        url+=\"/\";\n    }\n    flow.set('urlBaseTT',url);\n    return [msg,null];\n}\nurl=msg.urlBaseTT;\nif(url && url.length>5 && (url.startsWith(\"http\") || url.startsWith(\"https\"))) {\n    if(!url.endsWith(\"/\")) {\n        url+=\"/\";\n    }\n    flow.set('urlBaseTT',url);\n    return [msg,null];\n}\nreturn [null,{error:\"Error en definición de urlBaseTT en la UI o en msg.urlBaseTT\"}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "9f19f3e1.fd388"
            ],
            [
                "fc89282a.2c6468"
            ]
        ],
        "outputLabels": [
            "OK",
            "Error URL"
        ]
    },
    {
        "id": "9f19f3e1.fd388",
        "type": "function",
        "z": "cd27c58f.6d91d8",
        "name": "Prepare Request",
        "func": "msg.url=flow.get('urlBaseTT')+\"pingauthintegration?token=\"+flow.get('authtoken');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "e917c130.66b7f",
                "9aa32e01.7aa93"
            ]
        ]
    },
    {
        "id": "e917c130.66b7f",
        "type": "http request",
        "z": "cd27c58f.6d91d8",
        "name": "Check Auth",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 823,
        "y": 118,
        "wires": [
            [
                "733e040a.ecddbc"
            ]
        ]
    },
    {
        "id": "733e040a.ecddbc",
        "type": "function",
        "z": "cd27c58f.6d91d8",
        "name": "Check Response Status",
        "func": "if(msg.statusCode==200) {\n    flow.set('$parent.lastStatusTT',{code:0,descripcion:'OK',tiempo:new Date()});\n    return [{payload:\"OK\",urlBaseTT:flow.get('urlBaseTT')},null,null,null];\n} else if(msg.statusCode==401) {\n    flow.set('$parent.lastStatusTT',{code:1,descripcion:'No logueado',tiempo:new Date()});\n    return [null,{payload:\"No logueado\",urlBaseTT:flow.get('urlBaseTT')},null,null];\n} else if(msg.statusCode==403) {\n    flow.set('$parent.lastStatusTT',{code:2,descripcion:'No autorizado',tiempo:new Date()});\n    return [null,null,{payload:\"No autorizado\",urlBaseTT:flow.get('urlBaseTT')},null];\n} else if(msg.statusCode=='ECONNREFUSED') {\n    flow.set('$parent.lastStatusTT',{code:-1,descripcion:'Desconectado',tiempo:new Date()});\n    return [null,null,null,{payload:\"Desconectado\",urlBaseTT:flow.get('urlBaseTT')}];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1019,
        "y": 239,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "200 - OK",
            "401 - No logueado",
            "403 - No autorizado",
            "No disponible"
        ]
    },
    {
        "id": "9aa32e01.7aa93",
        "type": "change",
        "z": "cd27c58f.6d91d8",
        "name": "Pidiendo...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Pidiendo...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 811.5,
        "y": 48,
        "wires": [
            []
        ]
    },
    {
        "id": "fc89282a.2c6468",
        "type": "change",
        "z": "cd27c58f.6d91d8",
        "name": "Error URL",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Error URL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 553,
        "y": 313,
        "wires": [
            []
        ]
    },
    {
        "id": "5986bea6.f91ae",
        "type": "inject",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 200,
        "wires": [
            [
                "adaafac.a6da808"
            ]
        ],
        "l": false
    },
    {
        "id": "adaafac.a6da808",
        "type": "change",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "Set msg.urlBaseTT & token",
        "rules": [
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "msg",
                "to": "data.urlBase",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "authtoken",
                "pt": "msg",
                "to": "data.authToken.token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "403198df.6ac198"
            ]
        ]
    },
    {
        "id": "403198df.6ac198",
        "type": "subflow:cd27c58f.6d91d8",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "",
        "env": [],
        "x": 450,
        "y": 200,
        "wires": [
            [],
            [
                "7b818a9b.290154"
            ],
            []
        ]
    },
    {
        "id": "7b818a9b.290154",
        "type": "subflow:b70c95d6.e86af8",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "",
        "env": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "c7fff10f.9583c"
            ],
            [
                "ae635ca6.3767e"
            ]
        ]
    },
    {
        "id": "3b6e3678.65c61a",
        "type": "inject",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "Request Config ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 60,
        "wires": [
            [
                "d43e457b.717a18"
            ]
        ]
    },
    {
        "id": "c7fff10f.9583c",
        "type": "change",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "SET flow.data.authToken",
        "rules": [
            {
                "t": "set",
                "p": "data.authToken",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "data.authToken.token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 100,
        "wires": [
            [
                "d43e457b.717a18"
            ]
        ]
    },
    {
        "id": "ae635ca6.3767e",
        "type": "change",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "UNSET flow.data.authToken",
        "rules": [
            {
                "t": "set",
                "p": "data.authToken",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d43e457b.717a18",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "Prepare Request",
        "func": "msg.headers = {};\nmsg.headers['X-AUTH-TOKEN'] = flow.get('data.authToken.token');\nmsg.headers['Content-Type'] = 'application/json';\nmsg.url=flow.get(\"data.urlBase\")+\"/api/v1/tanques/\"+flow.get(\"data.idCompania\")+\"/ciuconfig/\"+flow.get(\"data.idCiu\");\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Ult Req: \"+new Date().toISOString()});\n\nreturn msg;\n;\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 100,
        "wires": [
            [
                "20ce64b6.05b27c"
            ]
        ]
    },
    {
        "id": "20ce64b6.05b27c",
        "type": "http request",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "getConfig",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1410,
        "y": 100,
        "wires": [
            [
                "8d2a24f4.27d468"
            ]
        ]
    },
    {
        "id": "8d2a24f4.27d468",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "Procesar y guardar Config",
        "func": "\nflow.set(\"config\",msg.payload);\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Ult Req: \"+new Date().toISOString()+\", Cant: \"+msg.payload.length});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1320,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "76e2484c.05ffa8",
        "type": "inject",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 115,
        "y": 80,
        "wires": [
            [
                "75448b.fe902b74"
            ]
        ],
        "l": false
    },
    {
        "id": "75448b.fe902b74",
        "type": "template",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "Init & Default values",
        "field": "data",
        "fieldType": "flow",
        "format": "handlebars",
        "syntax": "plain",
        "template": "{\n    \"urlBase1\":\"http://192.168.195.187:8080/tt\",\n    \"urlBase\":\"http://fueltrace.oneclickeb.com/tt\", \n    \"idCompania\":1,\n    \"userTokenBasicAuth\":\"gettoken:g3ttok3n$\",\n    \"pidiendoToken\":\"no\",\n    \"useBackend\":true,\n    \"ciuConfigP1C1\":false,\n    \"idCiu\":\"ciu1\",\n    \"frecuenciaAlmacenamiento\":15\n}\n\n",
        "output": "json",
        "x": 260,
        "y": 80,
        "wires": [
            [
                "7b3f2681.a312d8"
            ]
        ]
    },
    {
        "id": "7b3f2681.a312d8",
        "type": "link out",
        "z": "1ae16134.2ffe3f",
        "g": "c748b389.5ca8",
        "name": "Fin Valores Iniciales",
        "links": [
            "7046fe22.1d4dd",
            "54e05354.a5cbac"
        ],
        "x": 413.3333492279053,
        "y": 80.00000667572021,
        "wires": []
    },
    {
        "id": "1bc3a5a4.d2275a",
        "type": "function",
        "z": "9a6ff9b7.9c6fb8",
        "name": "Prepare Request",
        "func": "var ultAlmacenado=flow.get('ultAlmacenado');\nvar almacenarCadaXSegs=msg.almacenarCadaXSegs;\nvar almacenar=false;\nvar falta=0;\nif(!ultAlmacenado) {\n    almacenar=true;\n} else {\n    var actual=new Date().getTime();\n    var tiempoPasado=(actual-ultAlmacenado)/1000;\n    falta=almacenarCadaXSegs-tiempoPasado;\n    if(tiempoPasado>=(almacenarCadaXSegs-1)) {\n        almacenar=true;\n    }\n}\n\n\nif(almacenar) {\n    flow.set('ultAlmacenado',new Date().getTime());\n}\nmsg.msgAlmacenar= almacenar?\"Actualizando y almacenando...\":\"Actualizando... (faltan \"+falta.toFixed(0)+\" segs, para almacenar)\";\nmsg.headers = {};\nmsg.headers['X-AUTH-TOKEN'] = flow.get('tokenTT');\nmsg.headers['Content-Type'] = 'application/json';\nvar url=flow.get(\"urlBaseTT\");\n//node.warn(msg.url);\nif(!url.endsWith('/'))\n    url=url+\"/\";\n//msg.url=url+\"api/v1/fafnir/plcdata/\"+flow.get('idCompania')+\"?categoria=\"+flow.get('categoria')+\"&id_plc=\"+flow.get('idPlc')+\"&store_plc_data=\"+almacenar;\nmsg.url=flow.get(\"urlBaseTT\")+\"/api/v1/tanques/ciudata/\"+flow.get(\"idCompania\")+\"/\"+flow.get(\"idPlc\")+\"?store=\"+almacenar;\n//node.warn(msg.url);\n//node.warn(msg.payload);\n//msg.payload=JSON.stringify(msg.payload);\n//node.warn(msg.payload);\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "3a9fe84a.ccfb98",
                "faa12506.a7fd48"
            ]
        ]
    },
    {
        "id": "3a9fe84a.ccfb98",
        "type": "http request",
        "z": "9a6ff9b7.9c6fb8",
        "name": "call detail",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 40,
        "wires": [
            [
                "777b9c87.67cd94"
            ]
        ]
    },
    {
        "id": "e8bca60.a0a2558",
        "type": "change",
        "z": "9a6ff9b7.9c6fb8",
        "name": "Parse Inputs",
        "rules": [
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "flow",
                "to": "urlBaseTT",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "idCompania",
                "pt": "flow",
                "to": "idCompania",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "categoria",
                "pt": "flow",
                "to": "categoria",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "tokenTT",
                "pt": "flow",
                "to": "tokenTT",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "idPlc",
                "pt": "flow",
                "to": "idPlc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "almacenarCadaXSegs",
                "pt": "msg",
                "to": "almacenarCadaXSegs",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 30,
        "wires": [
            [
                "1bc3a5a4.d2275a"
            ]
        ]
    },
    {
        "id": "777b9c87.67cd94",
        "type": "switch",
        "z": "9a6ff9b7.9c6fb8",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 90,
        "wires": [
            [],
            []
        ],
        "outputLabels": [
            "ok",
            "no ok"
        ]
    },
    {
        "id": "faa12506.a7fd48",
        "type": "change",
        "z": "9a6ff9b7.9c6fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msgAlmacenar",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "143fe700.e1b9c9",
        "type": "mqtt out",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "MQTT /ciu888/planta1",
        "topic": "/ciu888/planta1",
        "qos": "",
        "retain": "",
        "broker": "70970556.d63e3c",
        "x": 1160,
        "y": 740,
        "wires": []
    },
    {
        "id": "d7f14374.27b0c",
        "type": "function",
        "z": "d5883d38.eb44d",
        "name": "Distribuye",
        "func": "\n msg.payload.forEach( (o,i)=> {\n      msg.payload[i].template=msg.template;\n })\nreturn msg.payload;",
        "outputs": "30",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "a6c57bf2.59d2a"
            ],
            [
                "2de2fd08.e465f2"
            ],
            [
                "8d7db728.a1c378"
            ],
            [
                "f9e2674a.d492b"
            ],
            [
                "bf78d145.5509c8"
            ],
            [
                "1eb9e5c2.336e92"
            ],
            [
                "ff9ac310.499a18"
            ],
            [
                "fa79be5c.b6ca9"
            ],
            [
                "9c9ba7f9.51b56"
            ],
            [
                "f31b1e40.58d9d8"
            ],
            [
                "932c318a.73dbe8"
            ],
            [
                "4ea5820d.22b7dc"
            ],
            [
                "2270e8df.310598"
            ],
            [
                "9d69f5be.82908"
            ],
            [
                "575b5a21.d22114"
            ],
            [
                "da70cb4f.016848"
            ],
            [
                "23803021.d73f6"
            ],
            [
                "94cbe169.a32468"
            ],
            [
                "6204f22b.375eac"
            ],
            [
                "eecd97cf.e6d07"
            ],
            [
                "16c445cc.a0ae0a"
            ],
            [
                "d1405591.828ab8"
            ],
            [
                "f04f2c6.76f43d"
            ],
            [
                "1baa5e00.5a7ec2"
            ],
            [
                "2fe1caa.e15adb6"
            ],
            [
                "e7b73d94.b738f8"
            ],
            [
                "7fa4a145.69716"
            ],
            [
                "5b74df2f.7458c8"
            ],
            [
                "8b80aeb0.399e"
            ],
            [
                "2ff1d4e0.74bfe4"
            ]
        ],
        "outputLabels": [
            "t1",
            "t2",
            "t3",
            "t4",
            "t5",
            "t6",
            "t7",
            "t8",
            "t9",
            "t10",
            "t11",
            "t12",
            "t13",
            "t14",
            "t15",
            "t16",
            "t17",
            "t18",
            "t19",
            "t20",
            "t21",
            "t22",
            "t23",
            "t24",
            "t25",
            "t26",
            "t27",
            "t28",
            "t29",
            "t30"
        ]
    },
    {
        "id": "a7fae96.400a198",
        "type": "ui_button",
        "z": "d5883d38.eb44d",
        "name": "",
        "group": "2554d9c.6c202a6",
        "order": 0,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Crear Informe",
        "color": "",
        "bgcolor": "",
        "icon": "fa-file-excel-o",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 166.66664505004883,
        "y": 506.7777786254883,
        "wires": [
            [
                "1f83d07f.7e86d8"
            ]
        ]
    },
    {
        "id": "fa79be5c.b6ca9",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "91a045be.96519",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1022.3333015441895,
        "y": 158.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "a6c57bf2.59d2a",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "43b385cd.b42e74",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 662.3333015441895,
        "y": 78.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "2de2fd08.e465f2",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "94492b06.695d",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 842.3333015441895,
        "y": 78.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "8d7db728.a1c378",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "1a779b08.3aec8d",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1022.3333015441895,
        "y": 78.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e2674a.d492b",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "1754dad.c056325",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1202.3333015441895,
        "y": 78.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "bf78d145.5509c8",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "63366cc7.c01424",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1382.3333015441895,
        "y": 78.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "1eb9e5c2.336e92",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "1792a10e.2cc0bf",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 662.3333015441895,
        "y": 158.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "ff9ac310.499a18",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "93ebc419.d9ad1",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 842.3333015441895,
        "y": 158.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "ffe71f19.ad34b",
        "type": "function",
        "z": "d5883d38.eb44d",
        "name": "Disable",
        "func": "msg.enabled=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 239.55550003051758,
        "y": 824.555549621582,
        "wires": [
            [
                "a7fae96.400a198",
                "9da28ec3.f83488"
            ]
        ]
    },
    {
        "id": "77feb9c3.58e148",
        "type": "function",
        "z": "d5883d38.eb44d",
        "name": "Enable",
        "func": "msg.enabled=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 163.5555076599121,
        "y": 450.44449615478516,
        "wires": [
            [
                "a7fae96.400a198"
            ]
        ]
    },
    {
        "id": "fccd9bd3.6e1fe8",
        "type": "function",
        "z": "d5883d38.eb44d",
        "name": "Formatear Salida",
        "func": "var r=new Array();\nvar fecha=new Date();\nvar transf=function(o) {\n    var n={\n        Fecha: fecha.getDate()  + \"/\" + (fecha.getMonth() + 1) + \"/\" + fecha.getFullYear(),\n        Hora: fecha.getHours() + \":\" + fecha.getMinutes() + \":\" + fecha.getSeconds(),\n        Planta: o.plantName,\n        Tanque: o.tankName,\n        Producto: o.productName,\n        ProductLevel: o.productLevel || 'N/A',\n        ProductTemp: o.productTemp || 'N/A',\n        DensidadObservada: o.DObs || 'N/A',\n        TOV: o.tov || 'N/A',\n        GSV: o.gsv || 'N/A'\n    };\n    return n;\n}\nnode.log(msg.payload);\nmsg.payload.forEach(function(o,i){\n    if(o.payload) {\n        r.push(transf(o.payload));\n    }\n});\n\nmsg.payload=r;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 492.1110725402832,
        "y": 599.5556716918945,
        "wires": [
            [
                "77a0655b.63e3cc"
            ]
        ]
    },
    {
        "id": "a607d7df.390b",
        "type": "inject",
        "z": "d5883d38.eb44d",
        "name": "Start Disable",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 153.77772903442383,
        "y": 735.0000686645508,
        "wires": [
            [
                "ffe71f19.ad34b"
            ]
        ]
    },
    {
        "id": "903c8356.dcaa48",
        "type": "file in",
        "z": "d5883d38.eb44d",
        "name": "Lee Archivo salida.xslx",
        "filename": "salida.xslx",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 346.55534744262695,
        "y": 935.3334426879883,
        "wires": [
            [
                "19bd254d.209e73"
            ]
        ]
    },
    {
        "id": "19bd254d.209e73",
        "type": "change",
        "z": "d5883d38.eb44d",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/vnd.ms-excel",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "attachment; filename=informe_ciu888.xlsx",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 548.6665534973145,
        "y": 936.111213684082,
        "wires": [
            [
                "f5d89fdf.ee0388"
            ]
        ]
    },
    {
        "id": "f5d89fdf.ee0388",
        "type": "http response",
        "z": "d5883d38.eb44d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 700.3333015441895,
        "y": 935.2222366333008,
        "wires": []
    },
    {
        "id": "85cce3a0.fdc438",
        "type": "http in",
        "z": "d5883d38.eb44d",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 138.88884353637695,
        "y": 935.222297668457,
        "wires": [
            [
                "903c8356.dcaa48"
            ]
        ]
    },
    {
        "id": "9da28ec3.f83488",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "11983d23.20fd73",
        "name": "Descargar Informe",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<h3><a href=\"/download\">Descargar Informe</a></h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 602.3332405090332,
        "y": 827.6666946411133,
        "wires": [
            []
        ]
    },
    {
        "id": "37f49a1.2a75166",
        "type": "function",
        "z": "d5883d38.eb44d",
        "name": "Enable",
        "func": "msg.enabled=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600.777759552002,
        "y": 724.6667556762695,
        "wires": [
            [
                "9da28ec3.f83488"
            ]
        ]
    },
    {
        "id": "aeeb0db.39b2af",
        "type": "ui_toast",
        "z": "d5883d38.eb44d",
        "position": "top left",
        "displayTime": "3",
        "highlight": "blue",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Notificación",
        "x": 812.111011505127,
        "y": 661.333381652832,
        "wires": []
    },
    {
        "id": "55fb5774.1a87c8",
        "type": "change",
        "z": "d5883d38.eb44d",
        "name": "Mensaje Notificación",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Se ha creado el informe.<br/>Puede descargarlo presionando <strong>Descargar Informe</strong>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 593.4444465637207,
        "y": 665.4445266723633,
        "wires": [
            [
                "aeeb0db.39b2af"
            ]
        ]
    },
    {
        "id": "77a0655b.63e3cc",
        "type": "excel",
        "z": "d5883d38.eb44d",
        "name": "",
        "file": "salida.xslx",
        "x": 371.11101150512695,
        "y": 698.6667556762695,
        "wires": [
            [
                "37f49a1.2a75166",
                "55fb5774.1a87c8"
            ]
        ]
    },
    {
        "id": "5b67d242.93773c",
        "type": "mqtt in",
        "z": "d5883d38.eb44d",
        "name": "Read MQTT /ciu888/planta1",
        "topic": "/ciu888/planta1",
        "qos": "2",
        "datatype": "auto",
        "broker": "9095ae3e.94a51",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "40d2bbb7.0e5514"
            ]
        ]
    },
    {
        "id": "40d2bbb7.0e5514",
        "type": "function",
        "z": "d5883d38.eb44d",
        "name": "Parse MQTT Message",
        "func": "\nmsg.payload=JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "c507bac3.876f",
                "2c363dfb.57e3b2",
                "7c4c7de7.8e7df4",
                "7e065f8a.82fc9"
            ]
        ]
    },
    {
        "id": "c507bac3.876f",
        "type": "change",
        "z": "d5883d38.eb44d",
        "name": "Set Datos to Flow Context",
        "rules": [
            {
                "t": "set",
                "p": "datos",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 207.33333206176758,
        "y": 402.77783966064453,
        "wires": [
            [
                "77feb9c3.58e148"
            ]
        ]
    },
    {
        "id": "1f83d07f.7e86d8",
        "type": "change",
        "z": "d5883d38.eb44d",
        "name": "Get Datos from Flow Context",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datos",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 417.33330154418945,
        "y": 505.77783966064453,
        "wires": [
            [
                "fccd9bd3.6e1fe8",
                "6d446153.7a9298"
            ]
        ]
    },
    {
        "id": "f7e4a7c8.659e2",
        "type": "comment",
        "z": "d5883d38.eb44d",
        "name": "Descarga Informe",
        "info": "",
        "x": 153.33330154418945,
        "y": 891.7778396606445,
        "wires": []
    },
    {
        "id": "978d710d.c5499",
        "type": "comment",
        "z": "d5883d38.eb44d",
        "name": "Armado del Informe en Excel",
        "info": "",
        "x": 170.33330154418945,
        "y": 345.77783966064453,
        "wires": []
    },
    {
        "id": "bbecf706.9e8c28",
        "type": "comment",
        "z": "d5883d38.eb44d",
        "name": "Armado del Tablero",
        "info": "",
        "x": 170,
        "y": 20,
        "wires": []
    },
    {
        "id": "9c9ba7f9.51b56",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "cf9f269.4486058",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1202.3333015441895,
        "y": 158.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "932c318a.73dbe8",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "a19dc388.e76f68",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 662.3333015441895,
        "y": 238.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "f31b1e40.58d9d8",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "a85a2484.9d88b",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1382.3333015441895,
        "y": 158.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "2270e8df.310598",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "41ef8a5f.ab0c44",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1022.3333015441895,
        "y": 238.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "4ea5820d.22b7dc",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "d796d7d7.aef4d8",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 842.3333015441895,
        "y": 238.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "9d69f5be.82908",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "a52dc82a.e870f8",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1202.3333015441895,
        "y": 238.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "575b5a21.d22114",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "7406201f.6fe67",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1382.3333015441895,
        "y": 238.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "da70cb4f.016848",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "bf8b9391.2d3a2",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 662.3333015441895,
        "y": 298.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "94cbe169.a32468",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "3ab4818e.a5ff76",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1022.3333015441895,
        "y": 298.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "23803021.d73f6",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "464c8e8e.43292",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 842.3333015441895,
        "y": 298.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "6204f22b.375eac",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "cd537e83.b88f8",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1202.3333015441895,
        "y": 298.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "eecd97cf.e6d07",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "cbc678a5.9613d",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1382.3333015441895,
        "y": 298.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "16c445cc.a0ae0a",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "3f258f5d.54b13",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 662.3333015441895,
        "y": 378.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "f04f2c6.76f43d",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "9ee299b7.459618",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1022.3333015441895,
        "y": 378.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "d1405591.828ab8",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "2f21b3d6.183f04",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 842.3333015441895,
        "y": 378.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "1baa5e00.5a7ec2",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "71c0a253.44a8cc",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1202.3333015441895,
        "y": 378.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe1caa.e15adb6",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "3028e0ea.8d3568",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1382.3333015441895,
        "y": 378.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "e7b73d94.b738f8",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "f2ecdaf9.31705",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 662.3333015441895,
        "y": 458.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "5b74df2f.7458c8",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "d": true,
        "group": "4adf345c.8374fc",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<link rel=\"stylesheet\" href=\"/css/jquery-ui.min.css\">\n<script src=\"/js/jquery-1.12.4.js\"></script>\n<script src=\"/js/jquery-ui.js\"></script>\n\n<link rel=\"stylesheet\" href=\"/css/icecream-grid.min.css\">\n\n<div ng-attr-id=\"{{msg.payload.tankName + 'd'}}\" class=\"tamletra\" style=\"display:none\" title=\"Detalle Tanque {{msg.payload.tankName}}\">\n    <div class=\"i-g\">\n        <div class=\"i-6\">\n            <strong class=\"centrado\">Inventario</strong>\n            <hr/>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel Prod (auto):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productLevel || 'N/A'}} mm</div>\n            </div>\n\n\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">TOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.tov | number : 2 || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterLevel || 'N/A'}} mm</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Volumen de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterVol || 'N/A'}}  m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gov | number : 2 || 'N/A'}} m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad Observada:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.DObs || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Producto:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productTemp || 'N/A'}} °C</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Vapor:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vapRoomTemp || 'N/A'}} °F</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad De Referencia:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productDRef || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">VCF:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vcf || 'N/A'}}</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GSV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Espacio Disonible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableRoom || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Producto Disponible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableProduct || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (S & W):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.sw || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (NSV):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.nsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Total de Masa en Aire:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.totalMass || 'N/A'}} Kg</div>\n            </div>\n            <div class=\"i-g\">\n                <br/>\n                <strong class=\"centrado\" style=\"padding-top:20px\">Caudal</strong>\n                <hr/>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Caudal (TOV):</div>\n                <div class=\"i-6 azul\">{{msg.payload.flowTOV || 'N/A'}} m3/h</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Tiempo de llenado:</div>\n                <div class=\"i-6 azul\">{{msg.payload.timeToFit || 'N/A'}} h:mm</div>\n            </div>\n        </div>   \n        <div class=\"i-6\">\n            <div class=\"i-g\">\n                <div class=\"i-4\">\n                    <img class=\"i-img\" ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\" style=\"width:120px;height:auto\">\n                </div>    \n                <div class=\"i-8\">\n                    <h4>{{msg.payload.productName || 'N/A'}}</h4>\n                </div>  \n            </div>\n         \n            \n        </div>\n  \n    </div>\n</div>\n<div ng-hide=\"msg.payload\">\n    <p class=\"centrado\" style=\"padding-top:60px\">\n        <img src=\"/images/usb-disconnected.png\" style=\"width:150px;height:auto\"/>\n    </p>\n</div>\n<div ng-hide=\"!msg.payload\">  \n<h4 class=\"centrado\"><strong>{{msg.payload.tankName}}</strong></h4>\n<p class=\"centrado\"> \n    <img ng-attr-id=\"{{msg.payload.tankName + 'i'}}\" style=\"display:none\" \n    ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\"/>\n    <canvas title=\"Click para ver detalles\" ng-click=\"showDetails()\" class=\"puntero pp\" ng-attr-id=\"{{msg.payload.tankName + 'c'}}\" width=\"150px\" height=\"130px\" style=\"background:transparent\"></canvas>\n</p>\n\n<img title=\"Inconsistencia detectada!\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==0\" src=\"/images/chk0.png\"/>\n<img title=\"Inconsistencia aceptada\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==1\" src=\"/images/chk1.png\"/>\n\n\n<p class=\"pp\"><span>Producto: <span class=\"azul\">{{msg.payload.productName || 'N/A'}}</span></span></p>\n<p class=\"pp\"><span>Nivel Prod (auto)  : <span class=\"azul\">{{msg.payload.productLevel || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Nivel Prod (manual): <span class=\"azul\" \n    ng-attr-title=\"Última medición: {{msg.payload.nivelManualFechaHora? (msg.payload.nivelManualFechaHora | date:'dd/MM/yyyy HH:mm:ss Z') : 'N/A'}}\">{{msg.payload.nivelManual || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Temperatura de Prod: <span class=\"azul\">{{msg.payload.productTemp || 'N/A'}} °C</span></span></p>       \n<p class=\"pp\"><span>TOV: <span class=\"azul\">{{msg.payload.tov || 'N/A'}} L</span></span></p>       \n<!--p class=\"pp\"><span>GOV: <span class=\"azul\">{{msg.payload.gov || 'N/A'}} L</span></span></p-->       \n<p class=\"pp\"><span ng-click=\"showDetails()\" class=\"puntero resalta\">Más Detalles</span> </p>       \n</div>\n<script>\n;(function(scope) { \n    scope.$watch('msg.payload', function(newVal, oldVal) { \n        if(scope.msg) {\n            var c = document.getElementById(scope.msg.payload.tankName + 'c');\n            if(c) {\n                console.log(\"Hi \"+scope.msg.payload.tankName + 'i');\n                var ctx = c.getContext(\"2d\");\n                var img = document.getElementById(scope.msg.payload.tankName + 'i');\n                ctx.drawImage(img, 0, 0,150,130);\n                var x1=104;\n                var y1=18;\n                var x2=29;\n                var y2=83;\n                var altoTotal=y2-y1;\n                var desplazamiento=altoTotal-(altoTotal*scope.msg.payload.percent);\n                //ctx.fillRect(x1,y1,x2,y2);\n                ctx.fillStyle=\"yellow\";\n                ctx.fillRect(x1,y1+desplazamiento,x2,y2-desplazamiento);\n                ctx.fillStyle=\"black\";\n                ctx.font = \"18px Arial\";\n                ctx.fillText(Number(scope.msg.payload.percent*100).toFixed(2)+\"%\",30,50);\n                if(!scope.msg.payload.tanqueRojo)\n                    ctx.fillStyle='red';\n                else \n                    ctx.fillStyle='yellow';\n                ctx.font = \"14px Arial\";\n                ctx.fillText(\"TOV\",45,75);\n                ctx.fillText(scope.msg.payload.tov + \" L\",30,95);\n                //c.addEventListener('mousemove', function(evt) {  \n                //     var rect = c.getBoundingClientRect();\n                //        console.log(evt.clientX - rect.left, evt.clientY - rect.top);\n                //}, false);\n            }\n        }\n        scope.showDetails=function() {\n            $( \"#\"+scope.msg.payload.tankName + 'd' ).dialog({\n                modal: true,\n                height: 575,\n                width: 800,\n                buttons: {\n                 Ok: function() {\n                $( this ).dialog( \"close\" );\n            }\n      }\n    });\n        }\n    }) \n\n})(scope) \n\n</script>\n\n<style type=\"text/css\" media=\"all\">\n.puntero {\n\tcursor: pointer;\n\tcursor: hand;\n}\n.resalta:hover { \n    color: green;\n}\n.pp {\n    padding-top: 0px !important;\n    margin-top: 0px !important;\n    border-top: 0px !important;\n    padding-bottom: 0px;\n    margin-bottom: 0px !important;\n    border-bottom: 0px;\n}\n.azul{\n    color: yellow;\n}\n.der {\n    text-align: right;\n}\n.centrado {\n\ttext-align: center;;\n}\n.tamletra {\n    font-size: 80%;\n}\n.tamletra1 {\n    font-size: 95%;\n}\n.imgcheck{\n    width: 32px;\n    height: 32px;\n    position: absolute;\n\ttop: 10px;\n\tright: 10px;\n\n}\n</style>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1022.3333015441895,
        "y": 458.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "7fa4a145.69716",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "dba5a500.24baa8",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 842.3333015441895,
        "y": 458.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "8b80aeb0.399e",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "d": true,
        "group": "c2a869f1.db673",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<link rel=\"stylesheet\" href=\"/css/jquery-ui.min.css\">\n<script src=\"/js/jquery-1.12.4.js\"></script>\n<script src=\"/js/jquery-ui.js\"></script>\n\n<link rel=\"stylesheet\" href=\"/css/icecream-grid.min.css\">\n\n<div ng-attr-id=\"{{msg.payload.tankName + 'd'}}\" class=\"tamletra\" style=\"display:none\" title=\"Detalle Tanque {{msg.payload.tankName}}\">\n    <div class=\"i-g\">\n        <div class=\"i-6\">\n            <strong class=\"centrado\">Inventario</strong>\n            <hr/>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel Prod (auto):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productLevel || 'N/A'}} mm</div>\n            </div>\n\n\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">TOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.tov | number : 2 || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterLevel || 'N/A'}} mm</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Volumen de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterVol || 'N/A'}}  m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gov | number : 2 || 'N/A'}} m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad Observada:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.DObs || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Producto:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productTemp || 'N/A'}} °C</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Vapor:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vapRoomTemp || 'N/A'}} °F</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad De Referencia:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productDRef || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">VCF:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vcf || 'N/A'}}</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GSV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Espacio Disonible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableRoom || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Producto Disponible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableProduct || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (S & W):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.sw || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (NSV):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.nsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Total de Masa en Aire:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.totalMass || 'N/A'}} Kg</div>\n            </div>\n            <div class=\"i-g\">\n                <br/>\n                <strong class=\"centrado\" style=\"padding-top:20px\">Caudal</strong>\n                <hr/>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Caudal (TOV):</div>\n                <div class=\"i-6 azul\">{{msg.payload.flowTOV || 'N/A'}} m3/h</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Tiempo de llenado:</div>\n                <div class=\"i-6 azul\">{{msg.payload.timeToFit || 'N/A'}} h:mm</div>\n            </div>\n        </div>   \n        <div class=\"i-6\">\n            <div class=\"i-g\">\n                <div class=\"i-4\">\n                    <img class=\"i-img\" ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\" style=\"width:120px;height:auto\">\n                </div>    \n                <div class=\"i-8\">\n                    <h4>{{msg.payload.productName || 'N/A'}}</h4>\n                </div>  \n            </div>\n         \n            \n        </div>\n  \n    </div>\n</div>\n<div ng-hide=\"msg.payload\">\n    <p class=\"centrado\" style=\"padding-top:60px\">\n        <img src=\"/images/usb-disconnected.png\" style=\"width:150px;height:auto\"/>\n    </p>\n</div>\n<div ng-hide=\"!msg.payload\">  \n<h4 class=\"centrado\"><strong>{{msg.payload.tankName}}</strong></h4>\n<p class=\"centrado\"> \n    <img ng-attr-id=\"{{msg.payload.tankName + 'i'}}\" style=\"display:none\" \n    ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\"/>\n    <canvas title=\"Click para ver detalles\" ng-click=\"showDetails()\" class=\"puntero pp\" ng-attr-id=\"{{msg.payload.tankName + 'c'}}\" width=\"150px\" height=\"130px\" style=\"background:transparent\"></canvas>\n</p>\n\n<img title=\"Inconsistencia detectada!\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==0\" src=\"/images/chk0.png\"/>\n<img title=\"Inconsistencia aceptada\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==1\" src=\"/images/chk1.png\"/>\n\n\n<p class=\"pp\"><span>Producto: <span class=\"azul\">{{msg.payload.productName || 'N/A'}}</span></span></p>\n<p class=\"pp\"><span>Nivel Prod (auto)  : <span class=\"azul\">{{msg.payload.productLevel || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Nivel Prod (manual): <span class=\"azul\" \n    ng-attr-title=\"Última medición: {{msg.payload.nivelManualFechaHora? (msg.payload.nivelManualFechaHora | date:'dd/MM/yyyy HH:mm:ss Z') : 'N/A'}}\">{{msg.payload.nivelManual || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Temperatura de Prod: <span class=\"azul\">{{msg.payload.productTemp || 'N/A'}} °C</span></span></p>       \n<p class=\"pp\"><span>TOV: <span class=\"azul\">{{msg.payload.tov || 'N/A'}} L</span></span></p>       \n<!--p class=\"pp\"><span>GOV: <span class=\"azul\">{{msg.payload.gov || 'N/A'}} L</span></span></p-->       \n<p class=\"pp\"><span ng-click=\"showDetails()\" class=\"puntero resalta\">Más Detalles</span> </p>       \n</div>\n<script>\n;(function(scope) { \n    scope.$watch('msg.payload', function(newVal, oldVal) { \n        if(scope.msg) {\n            var c = document.getElementById(scope.msg.payload.tankName + 'c');\n            if(c) {\n                console.log(\"Hi \"+scope.msg.payload.tankName + 'i');\n                var ctx = c.getContext(\"2d\");\n                var img = document.getElementById(scope.msg.payload.tankName + 'i');\n                ctx.drawImage(img, 0, 0,150,130);\n                var x1=104;\n                var y1=18;\n                var x2=29;\n                var y2=83;\n                var altoTotal=y2-y1;\n                var desplazamiento=altoTotal-(altoTotal*scope.msg.payload.percent);\n                //ctx.fillRect(x1,y1,x2,y2);\n                ctx.fillStyle=\"yellow\";\n                ctx.fillRect(x1,y1+desplazamiento,x2,y2-desplazamiento);\n                ctx.fillStyle=\"black\";\n                ctx.font = \"18px Arial\";\n                ctx.fillText(Number(scope.msg.payload.percent*100).toFixed(2)+\"%\",30,50);\n                if(!scope.msg.payload.tanqueRojo)\n                    ctx.fillStyle='red';\n                else \n                    ctx.fillStyle='yellow';\n                ctx.font = \"14px Arial\";\n                ctx.fillText(\"TOV\",45,75);\n                ctx.fillText(scope.msg.payload.tov + \" L\",30,95);\n                //c.addEventListener('mousemove', function(evt) {  \n                //     var rect = c.getBoundingClientRect();\n                //        console.log(evt.clientX - rect.left, evt.clientY - rect.top);\n                //}, false);\n            }\n        }\n        scope.showDetails=function() {\n            $( \"#\"+scope.msg.payload.tankName + 'd' ).dialog({\n                modal: true,\n                height: 575,\n                width: 800,\n                buttons: {\n                 Ok: function() {\n                $( this ).dialog( \"close\" );\n            }\n      }\n    });\n        }\n    }) \n\n})(scope) \n\n</script>\n\n<style type=\"text/css\" media=\"all\">\n.puntero {\n\tcursor: pointer;\n\tcursor: hand;\n}\n.resalta:hover { \n    color: green;\n}\n.pp {\n    padding-top: 0px !important;\n    margin-top: 0px !important;\n    border-top: 0px !important;\n    padding-bottom: 0px;\n    margin-bottom: 0px !important;\n    border-bottom: 0px;\n}\n.azul{\n    color: yellow;\n}\n.der {\n    text-align: right;\n}\n.centrado {\n\ttext-align: center;;\n}\n.tamletra {\n    font-size: 80%;\n}\n.tamletra1 {\n    font-size: 95%;\n}\n.imgcheck{\n    width: 32px;\n    height: 32px;\n    position: absolute;\n\ttop: 10px;\n\tright: 10px;\n\n}\n</style>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1202.3333015441895,
        "y": 458.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "2ff1d4e0.74bfe4",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "d": true,
        "group": "6a5e9f40.a2c8d",
        "name": "Mostrar Tanque",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<link rel=\"stylesheet\" href=\"/css/jquery-ui.min.css\">\n<script src=\"/js/jquery-1.12.4.js\"></script>\n<script src=\"/js/jquery-ui.js\"></script>\n\n<link rel=\"stylesheet\" href=\"/css/icecream-grid.min.css\">\n\n<div ng-attr-id=\"{{msg.payload.tankName + 'd'}}\" class=\"tamletra\" style=\"display:none\" title=\"Detalle Tanque {{msg.payload.tankName}}\">\n    <div class=\"i-g\">\n        <div class=\"i-6\">\n            <strong class=\"centrado\">Inventario</strong>\n            <hr/>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel Prod (auto):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productLevel || 'N/A'}} mm</div>\n            </div>\n\n\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">TOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.tov | number : 2 || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterLevel || 'N/A'}} mm</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Volumen de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterVol || 'N/A'}}  m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gov | number : 2 || 'N/A'}} m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad Observada:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.DObs || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Producto:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productTemp || 'N/A'}} °C</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Vapor:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vapRoomTemp || 'N/A'}} °F</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad De Referencia:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productDRef || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">VCF:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vcf || 'N/A'}}</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GSV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Espacio Disonible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableRoom || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Producto Disponible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableProduct || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (S & W):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.sw || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (NSV):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.nsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Total de Masa en Aire:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.totalMass || 'N/A'}} Kg</div>\n            </div>\n            <div class=\"i-g\">\n                <br/>\n                <strong class=\"centrado\" style=\"padding-top:20px\">Caudal</strong>\n                <hr/>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Caudal (TOV):</div>\n                <div class=\"i-6 azul\">{{msg.payload.flowTOV || 'N/A'}} m3/h</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Tiempo de llenado:</div>\n                <div class=\"i-6 azul\">{{msg.payload.timeToFit || 'N/A'}} h:mm</div>\n            </div>\n        </div>   \n        <div class=\"i-6\">\n            <div class=\"i-g\">\n                <div class=\"i-4\">\n                    <img class=\"i-img\" ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\" style=\"width:120px;height:auto\">\n                </div>    \n                <div class=\"i-8\">\n                    <h4>{{msg.payload.productName || 'N/A'}}</h4>\n                </div>  \n            </div>\n         \n            \n        </div>\n  \n    </div>\n</div>\n<div ng-hide=\"msg.payload\">\n    <p class=\"centrado\" style=\"padding-top:60px\">\n        <img src=\"/images/usb-disconnected.png\" style=\"width:150px;height:auto\"/>\n    </p>\n</div>\n<div ng-hide=\"!msg.payload\">  \n<h4 class=\"centrado\"><strong>{{msg.payload.tankName}}</strong></h4>\n<p class=\"centrado\"> \n    <img ng-attr-id=\"{{msg.payload.tankName + 'i'}}\" style=\"display:none\" \n    ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\"/>\n    <canvas title=\"Click para ver detalles\" ng-click=\"showDetails()\" class=\"puntero pp\" ng-attr-id=\"{{msg.payload.tankName + 'c'}}\" width=\"150px\" height=\"130px\" style=\"background:transparent\"></canvas>\n</p>\n\n<img title=\"Inconsistencia detectada!\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==0\" src=\"/images/chk0.png\"/>\n<img title=\"Inconsistencia aceptada\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==1\" src=\"/images/chk1.png\"/>\n\n\n<p class=\"pp\"><span>Producto: <span class=\"azul\">{{msg.payload.productName || 'N/A'}}</span></span></p>\n<p class=\"pp\"><span>Nivel Prod (auto)  : <span class=\"azul\">{{msg.payload.productLevel || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Nivel Prod (manual): <span class=\"azul\" \n    ng-attr-title=\"Última medición: {{msg.payload.nivelManualFechaHora? (msg.payload.nivelManualFechaHora | date:'dd/MM/yyyy HH:mm:ss Z') : 'N/A'}}\">{{msg.payload.nivelManual || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Temperatura de Prod: <span class=\"azul\">{{msg.payload.productTemp || 'N/A'}} °C</span></span></p>       \n<p class=\"pp\"><span>TOV: <span class=\"azul\">{{msg.payload.tov || 'N/A'}} L</span></span></p>       \n<!--p class=\"pp\"><span>GOV: <span class=\"azul\">{{msg.payload.gov || 'N/A'}} L</span></span></p-->       \n<p class=\"pp\"><span ng-click=\"showDetails()\" class=\"puntero resalta\">Más Detalles</span> </p>       \n</div>\n<script>\n;(function(scope) { \n    scope.$watch('msg.payload', function(newVal, oldVal) { \n        if(scope.msg) {\n            var c = document.getElementById(scope.msg.payload.tankName + 'c');\n            if(c) {\n                console.log(\"Hi \"+scope.msg.payload.tankName + 'i');\n                var ctx = c.getContext(\"2d\");\n                var img = document.getElementById(scope.msg.payload.tankName + 'i');\n                ctx.drawImage(img, 0, 0,150,130);\n                var x1=104;\n                var y1=18;\n                var x2=29;\n                var y2=83;\n                var altoTotal=y2-y1;\n                var desplazamiento=altoTotal-(altoTotal*scope.msg.payload.percent);\n                //ctx.fillRect(x1,y1,x2,y2);\n                ctx.fillStyle=\"yellow\";\n                ctx.fillRect(x1,y1+desplazamiento,x2,y2-desplazamiento);\n                ctx.fillStyle=\"black\";\n                ctx.font = \"18px Arial\";\n                ctx.fillText(Number(scope.msg.payload.percent*100).toFixed(2)+\"%\",30,50);\n                if(!scope.msg.payload.tanqueRojo)\n                    ctx.fillStyle='red';\n                else \n                    ctx.fillStyle='yellow';\n                ctx.font = \"14px Arial\";\n                ctx.fillText(\"TOV\",45,75);\n                ctx.fillText(scope.msg.payload.tov + \" L\",30,95);\n                //c.addEventListener('mousemove', function(evt) {  \n                //     var rect = c.getBoundingClientRect();\n                //        console.log(evt.clientX - rect.left, evt.clientY - rect.top);\n                //}, false);\n            }\n        }\n        scope.showDetails=function() {\n            $( \"#\"+scope.msg.payload.tankName + 'd' ).dialog({\n                modal: true,\n                height: 575,\n                width: 800,\n                buttons: {\n                 Ok: function() {\n                $( this ).dialog( \"close\" );\n            }\n      }\n    });\n        }\n    }) \n\n})(scope) \n\n</script>\n\n<style type=\"text/css\" media=\"all\">\n.puntero {\n\tcursor: pointer;\n\tcursor: hand;\n}\n.resalta:hover { \n    color: green;\n}\n.pp {\n    padding-top: 0px !important;\n    margin-top: 0px !important;\n    border-top: 0px !important;\n    padding-bottom: 0px;\n    margin-bottom: 0px !important;\n    border-bottom: 0px;\n}\n.azul{\n    color: yellow;\n}\n.der {\n    text-align: right;\n}\n.centrado {\n\ttext-align: center;;\n}\n.tamletra {\n    font-size: 80%;\n}\n.tamletra1 {\n    font-size: 95%;\n}\n.imgcheck{\n    width: 32px;\n    height: 32px;\n    position: absolute;\n\ttop: 10px;\n\tright: 10px;\n\n}\n</style>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1382.3333015441895,
        "y": 458.77783966064453,
        "wires": [
            []
        ]
    },
    {
        "id": "2c363dfb.57e3b2",
        "type": "debug",
        "z": "d5883d38.eb44d",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 272.33330154418945,
        "y": 298.77783966064453,
        "wires": []
    },
    {
        "id": "6d446153.7a9298",
        "type": "debug",
        "z": "d5883d38.eb44d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 742.3333015441895,
        "y": 598.7778396606445,
        "wires": []
    },
    {
        "id": "7c4c7de7.8e7df4",
        "type": "ui_template",
        "z": "d5883d38.eb44d",
        "group": "85c8d030.5509c",
        "name": "LIsta simple para tests",
        "order": 1,
        "width": "27",
        "height": "20",
        "format": "<link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\">\n<link rel=\"stylesheet\" href=\"/css/bootstrap-theme.min.css\">\n\n<table class=\"table table-bordered\">\n<tr>\n    <td><strong>Tanque</strong></td>\n    <td><strong>Producto</strong></td>\n    <td><strong>Nivel (mm)</strong></td>\n    <td><strong>TOV (L)</strong></td>\n    <td><strong>Temperatura (°C)</strong></td>\n    <td><strong>Dens. de Referencia (g/cm³) </strong></td>\n    <td><strong>GSV (L)</strong></td>\n    <td><strong>Total Mass</strong></td>\n    \n</tr>\n<tr ng-show=\"t.payload\" ng-repeat=\"t in msg.payload\">\n    <td>{{t.payload.tankName}}</td>\n    <td>{{t.payload.productName}}</td>\n    <td style=\"text-align: right\">{{t.payload.productLevel | number : 2}}</td>\n    <td style=\"text-align: right\">{{t.payload.tov | number : 2}}</td>\n    <td style=\"text-align: right\">{{t.payload.productTemp | number : 2}}</td>\n    <td style=\"text-align: right\">{{t.payload.productDRef}}</td>\n    <td style=\"text-align: right\">{{t.payload.gsv}}</td>\n    <td style=\"text-align: right\">{{t.payload.totalMass}}</td>\n    \n</tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1082.3333015441895,
        "y": 638.7778396606445,
        "wires": [
            []
        ]
    },
    {
        "id": "24b5e71f.55a928",
        "type": "change",
        "z": "35b40fae.3fa48",
        "name": "Parse Inputs",
        "rules": [
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "flow",
                "to": "urlBaseTT",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "idCompania",
                "pt": "flow",
                "to": "idCompania",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "tokenTT",
                "pt": "flow",
                "to": "tokenTT",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "urlBaseTTBrowserCompat",
                "pt": "flow",
                "to": "urlBaseTTBrowserCompat",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "categoriaTT",
                "pt": "flow",
                "to": "categoria",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "7a5f2f1f.07c6"
            ]
        ]
    },
    {
        "id": "7a5f2f1f.07c6",
        "type": "function",
        "z": "35b40fae.3fa48",
        "name": "Prepare Request",
        "func": "msg.headers = {};\nmsg.headers['X-AUTH-TOKEN'] = flow.get('tokenTT');\nmsg.headers['Content-Type'] = 'application/json';\nvar url=flow.get(\"urlBaseTT\");//BrowserCompat\nif(!url.endsWith('/'))\n    url=url+\"/\";\nmsg.url=url+\"api/v1/fafnir/ultimos_estados/\"+flow.get('idCompania');\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 90,
        "wires": [
            [
                "f226a559.a65db8"
            ]
        ]
    },
    {
        "id": "f226a559.a65db8",
        "type": "http request",
        "z": "35b40fae.3fa48",
        "name": "call detail",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 90,
        "wires": [
            [
                "44975b9a.989454"
            ]
        ]
    },
    {
        "id": "44975b9a.989454",
        "type": "switch",
        "z": "35b40fae.3fa48",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "bb47b7b.0009648",
                "69abfd47.334cc4"
            ],
            []
        ],
        "outputLabels": [
            "ok",
            "no ok"
        ]
    },
    {
        "id": "bb47b7b.0009648",
        "type": "json",
        "z": "35b40fae.3fa48",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1000,
        "y": 70,
        "wires": [
            [
                "c1519f1d.23df3"
            ]
        ]
    },
    {
        "id": "c1519f1d.23df3",
        "type": "function",
        "z": "35b40fae.3fa48",
        "name": "Add url & token",
        "func": "msg.payload.forEach(function(o,i){\n    o.urlBaseTT=flow.get('urlBaseTTBrowserCompat') + (flow.get('urlBaseTTBrowserCompat').endsWith(\"/\") ? \"\":\"/\");\n    o.tokenTT=flow.get(\"tokenTT\");\n    o.categoriaTT=flow.get(\"categoriaTT\")\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "69abfd47.334cc4",
        "type": "function",
        "z": "35b40fae.3fa48",
        "name": "",
        "func": "msg.payload=\"Ult Req: \"+new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6976a4b7.3e4e8c",
        "type": "inject",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 75,
        "y": 760,
        "wires": [
            [
                "1319b071.8f9e3"
            ]
        ],
        "l": false
    },
    {
        "id": "1319b071.8f9e3",
        "type": "change",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tokenTT",
                "pt": "msg",
                "to": "data.authToken.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "msg",
                "to": "data.urlBase",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "hwPresente",
                "pt": "msg",
                "to": "HARDWARE_PRESENTE",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "cc594bfc.910258"
            ]
        ]
    },
    {
        "id": "cc594bfc.910258",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "",
        "func": "if(msg.hwPresente==\"si\") {\n    node.status({fill:\"green\",shape:\"ring\",text:\"Hardware Presente\"});\n} else {\n     node.status({fill:\"red\",shape:\"ring\",text:\"Sin Hardware\"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 295,
        "y": 740,
        "wires": [
            [
                "ff525a2f.608f28"
            ]
        ],
        "l": false
    },
    {
        "id": "ff525a2f.608f28",
        "type": "switch",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "Hay HW Presente?",
        "property": "hwPresente",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "si",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "cd25a503.4992e8"
            ]
        ]
    },
    {
        "id": "cd25a503.4992e8",
        "type": "subflow:35b40fae.3fa48",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "",
        "env": [
            {
                "name": "categoria",
                "value": "fafnir",
                "type": "str"
            }
        ],
        "x": 660,
        "y": 740,
        "wires": [
            [
                "726b285.1c265d8",
                "afb95977.5ce9d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "726b285.1c265d8",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "Tranforma Ultimo Estado",
        "func": "var r=[];\nvar fnAB=function(v) {\n    return v <0 ? '<span class=\"fa fa-arrow-down rojo\"></span>' : (v >0 ? '<span class=\"fa fa-arrow-up verde\"></span>' : '<span class=\"fa fa-circle\"></span>');\n};\nmsg.payload.forEach(function(c,i){\n    if(!c || c.ultimoEstado.nuevo) {\n        r.push({payload:false, enabled:true});\n    } else {\n        if(c.verEnTableroTanques) {\n            var rawData={};\n            try{\n                rawData=JSON.parse(c.ultimoEstado.rawData);\n            } catch(e) {\n                \n            }\n            //node.warn(rawData);\n            r.push({ payload:rawData , enabled:true });\n        }\n    }\n});\nmsg.payload=JSON.stringify(r);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 740,
        "wires": [
            [
                "143fe700.e1b9c9"
            ]
        ]
    },
    {
        "id": "afb95977.5ce9d8",
        "type": "debug",
        "z": "1ae16134.2ffe3f",
        "g": "7575f7f7.3026d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 680,
        "wires": []
    },
    {
        "id": "7e065f8a.82fc9",
        "type": "template",
        "z": "d5883d38.eb44d",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<link rel=\"stylesheet\" href=\"/css/jquery-ui.min.css\">\n<script src=\"/js/jquery-1.12.4.js\"></script>\n<script src=\"/js/jquery-ui.js\"></script>\n\n<link rel=\"stylesheet\" href=\"/css/icecream-grid.min.css\">\n\n<div ng-attr-id=\"{{msg.payload.tankName + 'd'}}\" class=\"tamletra\" style=\"display:none\" title=\"Detalle Tanque {{msg.payload.tankName}}\">\n    <div class=\"i-g\">\n        <div class=\"i-6\">\n            <strong class=\"centrado\">Inventario</strong>\n            <hr/>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel Prod (auto):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productLevel || 'N/A'}} mm</div>\n            </div>\n\n\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">TOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.tov | number : 2 || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Nivel de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterLevel || 'N/A'}} mm</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Volumen de Agua:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.waterVol || 'N/A'}}  m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GOV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gov | number : 2 || 'N/A'}} m³</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad Observada:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.DObs || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Producto:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productTemp || 'N/A'}} °C</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Temperatura de Vapor:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vapRoomTemp || 'N/A'}} °F</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Densidad De Referencia:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.productDRef || 'N/A'}} API °</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">VCF:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.vcf || 'N/A'}}</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">GSV:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.gsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Espacio Disonible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableRoom || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Producto Disponible:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.availableProduct || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (S & W):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.sw || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Corrección (NSV):</div>\n                 <div class=\"i-6 azul\">{{msg.payload.nsv || 'N/A'}} L</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Total de Masa en Aire:</div>\n                 <div class=\"i-6 azul\">{{msg.payload.totalMass || 'N/A'}} Kg</div>\n            </div>\n            <div class=\"i-g\">\n                <br/>\n                <strong class=\"centrado\" style=\"padding-top:20px\">Caudal</strong>\n                <hr/>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Caudal (TOV):</div>\n                <div class=\"i-6 azul\">{{msg.payload.flowTOV || 'N/A'}} m3/h</div>\n            </div>\n            <div class=\"i-g\">\n                <div class=\"i-6 der\">Tiempo de llenado:</div>\n                <div class=\"i-6 azul\">{{msg.payload.timeToFit || 'N/A'}} h:mm</div>\n            </div>\n        </div>   \n        <div class=\"i-6\">\n            <div class=\"i-g\">\n                <div class=\"i-4\">\n                    <img class=\"i-img\" ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\" style=\"width:120px;height:auto\">\n                </div>    \n                <div class=\"i-8\">\n                    <h4>{{msg.payload.productName || 'N/A'}}</h4>\n                </div>  \n            </div>\n         \n            \n        </div>\n  \n    </div>\n</div>\n<div ng-hide=\"msg.payload\">\n    <p class=\"centrado\" style=\"padding-top:60px\">\n        <img src=\"/images/usb-disconnected.png\" style=\"width:150px;height:auto\"/>\n    </p>\n</div>\n<div ng-hide=\"!msg.payload\">  \n<h4 class=\"centrado\"><strong>{{msg.payload.tankName}}</strong></h4>\n<p class=\"centrado\"> \n    <img ng-attr-id=\"{{msg.payload.tankName + 'i'}}\" style=\"display:none\" \n    ng-src=\"/images/tank{{msg.payload.tanqueRojo?'Red':''}}.png\"/>\n    <canvas title=\"Click para ver detalles\" ng-click=\"showDetails()\" class=\"puntero pp\" ng-attr-id=\"{{msg.payload.tankName + 'c'}}\" width=\"150px\" height=\"130px\" style=\"background:transparent\"></canvas>\n</p>\n\n<img title=\"Inconsistencia detectada!\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==0\" src=\"/images/chk0.png\"/>\n<img title=\"Inconsistencia aceptada\" class=\"imgcheck\" ng-show=\"msg.payload.inconsistencia==1\" src=\"/images/chk1.png\"/>\n\n\n<p class=\"pp\"><span>Producto: <span class=\"azul\">{{msg.payload.productName || 'N/A'}}</span></span></p>\n<p class=\"pp\"><span>Nivel Prod (auto)  : <span class=\"azul\">{{msg.payload.productLevel || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Nivel Prod (manual): <span class=\"azul\" \n    ng-attr-title=\"Última medición: {{msg.payload.nivelManualFechaHora? (msg.payload.nivelManualFechaHora | date:'dd/MM/yyyy HH:mm:ss Z') : 'N/A'}}\">{{msg.payload.nivelManual || 'N/A'}} mm</span></span></p> \n<p class=\"pp\"><span>Temperatura de Prod: <span class=\"azul\">{{msg.payload.productTemp || 'N/A'}} °C</span></span></p>       \n<p class=\"pp\"><span>TOV: <span class=\"azul\">{{msg.payload.tov || 'N/A'}} L</span></span></p>       \n<!--p class=\"pp\"><span>GOV: <span class=\"azul\">{{msg.payload.gov || 'N/A'}} L</span></span></p-->       \n<p class=\"pp\"><span ng-click=\"showDetails()\" class=\"puntero resalta\">Más Detalles</span> </p>       \n</div>\n<script>\n;(function(scope) { \n    scope.$watch('msg.payload', function(newVal, oldVal) { \n        if(scope.msg) {\n            var c = document.getElementById(scope.msg.payload.tankName + 'c');\n            if(c) {\n                console.log(\"Hi \"+scope.msg.payload.tankName + 'i');\n                var ctx = c.getContext(\"2d\");\n                var img = document.getElementById(scope.msg.payload.tankName + 'i');\n                ctx.drawImage(img, 0, 0,150,130);\n                var x1=104;\n                var y1=18;\n                var x2=29;\n                var y2=83;\n                var altoTotal=y2-y1;\n                var desplazamiento=altoTotal-(altoTotal*scope.msg.payload.percent);\n                //ctx.fillRect(x1,y1,x2,y2);\n                ctx.fillStyle=\"yellow\";\n                ctx.fillRect(x1,y1+desplazamiento,x2,y2-desplazamiento);\n                ctx.fillStyle=\"black\";\n                ctx.font = \"18px Arial\";\n                ctx.fillText(Number(scope.msg.payload.percent*100).toFixed(2)+\"%\",30,50);\n                if(!scope.msg.payload.tanqueRojo)\n                    ctx.fillStyle='red';\n                else \n                    ctx.fillStyle='yellow';\n                ctx.font = \"14px Arial\";\n                ctx.fillText(\"TOV\",45,75);\n                ctx.fillText(scope.msg.payload.tov + \" L\",30,95);\n                //c.addEventListener('mousemove', function(evt) {  \n                //     var rect = c.getBoundingClientRect();\n                //        console.log(evt.clientX - rect.left, evt.clientY - rect.top);\n                //}, false);\n            }\n        }\n        scope.showDetails=function() {\n            $( \"#\"+scope.msg.payload.tankName + 'd' ).dialog({\n                modal: true,\n                height: 575,\n                width: 800,\n                buttons: {\n                 Ok: function() {\n                $( this ).dialog( \"close\" );\n            }\n      }\n    });\n        }\n    }) \n\n})(scope) \n\n</script>\n\n<style type=\"text/css\" media=\"all\">\n.puntero {\n\tcursor: pointer;\n\tcursor: hand;\n}\n.resalta:hover { \n    color: green;\n}\n.pp {\n    padding-top: 0px !important;\n    margin-top: 0px !important;\n    border-top: 0px !important;\n    padding-bottom: 0px;\n    margin-bottom: 0px !important;\n    border-bottom: 0px;\n}\n.azul{\n    color: yellow;\n}\n.der {\n    text-align: right;\n}\n.centrado {\n\ttext-align: center;;\n}\n.tamletra {\n    font-size: 80%;\n}\n.tamletra1 {\n    font-size: 95%;\n}\n.imgcheck{\n    width: 32px;\n    height: 32px;\n    position: absolute;\n\ttop: 10px;\n\tright: 10px;\n\n}\n</style>\n\n",
        "output": "str",
        "x": 335,
        "y": 220,
        "wires": [
            [
                "d7f14374.27b0c"
            ]
        ],
        "l": false
    },
    {
        "id": "7d6678d5.5fdf58",
        "type": "inject",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "hwPresente",
                "v": "HARDWARE_PRESENTE",
                "vt": "env"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 340,
        "wires": [
            [
                "87dc256a.267de8"
            ]
        ],
        "l": false
    },
    {
        "id": "87dc256a.267de8",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "",
        "func": "if(msg.hwPresente==\"si\") {\n    node.status({fill:\"green\",shape:\"ring\",text:\"Hardware Presente\"});\n} else {\n     node.status({fill:\"red\",shape:\"ring\",text:\"Sin Hardware\"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 145,
        "y": 340,
        "wires": [
            [
                "d4abc7b9.afa878"
            ]
        ],
        "l": false
    },
    {
        "id": "d4abc7b9.afa878",
        "type": "switch",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "Hay HW Presente?",
        "property": "hwPresente",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "si",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "d544bfc4.5df96"
            ]
        ]
    },
    {
        "id": "d544bfc4.5df96",
        "type": "switch",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "Hay Config?",
        "property": "config.length",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "83276511.7e2308"
            ]
        ]
    },
    {
        "id": "83276511.7e2308",
        "type": "change",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 245,
        "y": 420,
        "wires": [
            [
                "f0c64784.cf45e8"
            ]
        ],
        "l": false
    },
    {
        "id": "f0c64784.cf45e8",
        "type": "split",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 285,
        "y": 420,
        "wires": [
            [
                "38267ff2.c4f68"
            ]
        ],
        "l": false
    },
    {
        "id": "38267ff2.c4f68",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "Set read config",
        "func": "msg.config=msg.payload;\nmsg.payload={'fc': 3, 'unitid': msg.payload.unitId*1,'address': msg.payload.startAddr ,'quantity': 123};\n//msg.payload={'fc': 3, 'unitid': msg.payload.unitId*1,'address': 0 ,'quantity': 123};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 480,
        "wires": [
            [
                "631dfd34.0b0504",
                "f40aee1b.4f1d4"
            ]
        ]
    },
    {
        "id": "631dfd34.0b0504",
        "type": "modbus-flex-getter",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "server": "b9229560.b8e3d8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "x": 265,
        "y": 480,
        "wires": [
            [],
            [
                "e887af7f.3b1d6",
                "f40aee1b.4f1d4"
            ]
        ],
        "l": false
    },
    {
        "id": "e887af7f.3b1d6",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "To arreglo Int(16) - first",
        "func": "var arreglo=new Array();\nfor(i=0;i<msg.payload.buffer.length;i=i+2) {\n    arreglo.push(msg.payload.buffer.readInt16BE(i));\n}\nmsg.arreglo=arreglo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "cda848c0.cb1458"
            ]
        ]
    },
    {
        "id": "cda848c0.cb1458",
        "type": "link out",
        "z": "1ae16134.2ffe3f",
        "g": "3801840d.4716fc",
        "name": "Salida Adquisición",
        "links": [
            "4d74b41c.a07bfc",
            "4d50a4c4.10e60c"
        ],
        "x": 325,
        "y": 540,
        "wires": []
    },
    {
        "id": "c61fbdc8.6c643",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "69ead5f1.65b89c",
        "name": "Parseo de registros",
        "func": "var tanques=flow.get('tanques');\nif(!tanques) \n    tanques=[];\nvar config=msg.config;\n\nvar a=msg.arreglo;\n\nvar sinSigno=function(v){\n    return v<0?v+65536:v; \n}\nvar v16=function(v,escala) {\n    return v/escala;\n}\nvar v32=function(v1,v2,escala) {\n    return ((sinSigno(v1)*65536)+sinSigno(v2))/escala;\n}\nvar float32BS=function(desde, buf) {\n  var a8=new Uint8Array([ buf[desde+1], buf[desde], buf[desde+3], buf[desde+2] ]);\n  var a16=new Uint16Array(a8.buffer);\n  var a32=new Float32Array(a16.buffer);\n  return a32.toString()*1;\n}\nvar uint32BS=function(desde, buf) {\n  var a8=new Uint8Array([ buf[desde+1], buf[desde], buf[desde+3], buf[desde+2] ]);\n  var a16=new Uint16Array(a8.buffer);\n  var a32=new Uint32Array(a16.buffer);\n  return a32.toString()*1;\n}\nvar int32BS=function(desde, buf) {\n  var a8=new Int8Array([ buf[desde+1], buf[desde], buf[desde+3], buf[desde+2] ]);\n  var a16=new Int16Array(a8.buffer);\n // return a16.toString()*1;\n   var a32=new Int32Array(a16.buffer);\n  return a32.toString()*1;\n}\n\n\n\nvar calcTank=function(c) {\n    var values={\n        enviado:false,\n        tankName:c.tankName,\n        idTanque:c.idTanque,\n        valoresAlarmaNivel:c.alarmaNivel,\n        mailNotificaciones:c.mailNotificaciones,\n        productName:c.productName,\n        plantName:c.planta,\n        nivelManual:c.nivelManual,\n        nivelManualFechaHora:new Date(c.nivelManualFechaHora),\n        inconsistencia:c.inconsistencia,\n        tanqueRojo:c.tanqueRojo,\n        productLevelAttrName:c.productLevelAttrName,\n        productTempAttrName:c.productTempAttrName,\n        estadoAlarmaNivel: c.estadoAlarmaNivel\n        \n    };\n    c.attributes.forEach(function(o,i){\n        \n        //var addr=c.startAddr+o.shiftAddr;\n        var addr=o.shiftAddr;\n        if(o.r16) {\n            values[o.attr]=v16(a[addr],o.scale);\n            //node.warn(c.tankName + \">> \" + o.attr + \" * \" + values[o.attr]);\n        } else {\n            //values[o.attr]=int32BS(addr*2,a8)/o.scale;\n            \n            values[o.attr]=v32(a[addr],a[addr+1],o.scale);\n            //node.warn(c.tankName + \">> \" + o.attr + \" * \" + values[o.attr]); // + ' ' + uint32BS(addr*2,a8)/o.scale);\n        }\n    });\n    values.percent=values[c.productLevelAttrName]/c.maxLevel;\n    return values;\n};\n\n\nvar t=calcTank(config);\n//node.warn(t)\n//if(t.productTemp || t.productLevel) {\n    var encontrado=false;\n    tanques.forEach((o,i)=>{\n        if(o.idTanque==t.idTanque) {\n            tanques[i]=t;\n            encontrado=true;\n        }\n    }); \n    if(!encontrado)\n        tanques.push(t);\n//}\n\nflow.set('tanques',tanques);\nmsg.payload={tanque:t,config:config};\nreturn msg;\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 360,
        "wires": [
            [
                "2fbbdff6.7704d"
            ]
        ],
        "outputLabels": [
            "t1"
        ]
    },
    {
        "id": "4d50a4c4.10e60c",
        "type": "link in",
        "z": "1ae16134.2ffe3f",
        "g": "69ead5f1.65b89c",
        "name": "",
        "links": [
            "cda848c0.cb1458"
        ],
        "x": 475,
        "y": 360,
        "wires": [
            [
                "c61fbdc8.6c643"
            ]
        ]
    },
    {
        "id": "2fbbdff6.7704d",
        "type": "debug",
        "z": "1ae16134.2ffe3f",
        "g": "69ead5f1.65b89c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 360,
        "wires": [],
        "l": false
    },
    {
        "id": "f45e3aba.7c6728",
        "type": "inject",
        "z": "1ae16134.2ffe3f",
        "g": "a0a2fbe1.baf158",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 495,
        "y": 480,
        "wires": [
            [
                "c1ab009b.0e357"
            ]
        ],
        "l": false
    },
    {
        "id": "c1ab009b.0e357",
        "type": "function",
        "z": "1ae16134.2ffe3f",
        "g": "a0a2fbe1.baf158",
        "name": "Lee tanques y prepara envío",
        "func": "var tanques=flow.get('tanques');\nif(!tanques)\n    tanques=[];\n\nvar r=[];\n\ntanques.forEach((o,i)=>{\n    if(!o.enviado) {\n        r.push({payload:o, enabled:true});\n        tanques[i].enviado=true;\n    }\n});\nflow.set('tanques',tanques);\n\nif(r.length>0) {\n  msg.payload=JSON.stringify(r);  \n  return [msg,null];\n}else{\n  msg.payload=\"Sin datos para enviar\";\n  return [null,msg];  \n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "8cb2135c.046c6"
            ],
            []
        ],
        "outputLabels": [
            "Datos",
            "Sin Datos"
        ]
    },
    {
        "id": "8cb2135c.046c6",
        "type": "change",
        "z": "1ae16134.2ffe3f",
        "g": "a0a2fbe1.baf158",
        "name": "Set msg.urlBaseTT & token",
        "rules": [
            {
                "t": "set",
                "p": "urlBaseTT",
                "pt": "msg",
                "to": "data.urlBase",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "tokenTT",
                "pt": "msg",
                "to": "data.authToken.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "idPlc",
                "pt": "msg",
                "to": "ciu1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 924.5,
        "y": 481,
        "wires": [
            [
                "d685f89e.758118"
            ]
        ]
    },
    {
        "id": "d685f89e.758118",
        "type": "subflow:9a6ff9b7.9c6fb8",
        "z": "1ae16134.2ffe3f",
        "g": "a0a2fbe1.baf158",
        "name": "",
        "env": [
            {
                "name": "almacenarCadaXSegs",
                "value": "90",
                "type": "str"
            }
        ],
        "x": 1152.5,
        "y": 482,
        "wires": [
            [
                "818705f6.133798"
            ],
            []
        ]
    },
    {
        "id": "818705f6.133798",
        "type": "link out",
        "z": "1ae16134.2ffe3f",
        "g": "a0a2fbe1.baf158",
        "name": "Salida PutData PLC OK",
        "links": [
            "a6fc40ba.b8c76"
        ],
        "x": 1307.5,
        "y": 482,
        "wires": []
    },
    {
        "id": "f40aee1b.4f1d4",
        "type": "debug",
        "z": "1ae16134.2ffe3f",
        "g": "91f1378d.46f8c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    }
]